<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/accounts.css">
    <link rel="stylesheet" href="./css/account.css">
    <link rel="stylesheet" href="./css/cards.css">
    <link rel="stylesheet" href="./css/sweetAlert.css">
    <link rel="stylesheet" href="./css/get-loan.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Raleway:wght@900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <header>
            <img class="logoBankame" src="./visuals/logoHomeBankame-ajustado.png" alt="">
            <div class="buttonOption">
                <button type="button" @click.prevent="logout"
                    class="accountsButton btn btn-danger animate__animated animate__bounceInLeft">LOGOUT</button>

                <a type="button" href="./accounts.html"
                    class="accountsButton btn btn-danger animate__animated animate__bounceInLeft">ACCOUNTS</a>

                <a type="button" class="accountsButton btn btn-danger animate__animated animate__bounceInLeft">LOANS</a>

                <a type="button" href="./make-transactions.html"
                    class="accountsButton btn btn-danger animate__animated animate__bounceInLeft">TRANSACTION</a>

                <a type="button" href="./cards.html"
                    class="accountsButton btn btn-danger animate__animated animate__bounceInLeft">CARDS</a>
            </div>
        </header>
        <main class="indexMain d-flex ">
            <h1 class="indexSaludo text-center">WELCOME TO BANKAME</h1>
            <p class="text-center d-flex justify-self-center">Hello, if you are interested in joining BANKAME as a
                client, register here</p>

            <div class="getLoanForm">
                <div class="formContainer">
                    <form class="form">
                        <div class="btn-group d-flex flex-column justify-self-center">
                            <label for="FIRSTNAME" class="inputItems form-label text-center">What type of loan do you want
                                to apply for?</label>
                            <select v-model="id" class="selectGetLoan text-center form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option v-for="loan in loans" class="optionGetLoan text-center" :value="loan.id">
                                    {{loan.name}}</option>
                            </select>
                        </div>

                        <div class="btn-group d-flex flex-column justify-content-around align-content-centery">
                            <label for="FIRSTNAME" class="inputItems text-center form-label">Loan amount</label>
                            <div class="input-group mb-3">
                                <span class="inputGetLoan input-group-text">max {{loans[id-1].maxAmount}} $</span>
                                <input v-model="amount" type="number" class="inputGetLoan text-center form-control"
                                    aria-label="Dollar amount (with dot and two decimal places)">
                            </div>
                        </div>

                        <div class="btn-group d-flex flex-column justify-content-around align-content-center">
                            <label for="destinyAccount" class="inputItems form-label text-center">PAYMENTS</label>
                            <select v-model="payments" class="selectGetLoan form-select text-center form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option class="optionGetLoan text-center" v-for="payment in loans[id-1].payments"
                                    :value="payment">{{payment}}</option>
                            </select>
                        </div>

                        <div class="btn-group d-flex flex-column justify-content-around align-content-center">
                            <label for="FIRSTNAME" class="inputItems form-label text-center">Enter the destination account
                                number</label>
                            <select v-model="destinyAccount"
                                class="selectGetLoan text-center form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option class="optionGetLoan text-center d-flex justify-self-center"
                                    v-for="account in accounts" :value="account.number">{{account.number}}</option>
                            </select>
                        </div>

                        <a type="button" @click.prevent="getClientLoan"
                            class="accountsButton buton btn btn-danger animate__animated animate__bounceInLeft text-center">Make
                            a transaction</a>
                    </form>
                    {{loan}}
                </div>
            </div>
        </main>
        <footer>
            <img class="logoBankame d-flex align-self-center" src="./visuals/logoHomeBankame-ajustado.png" alt="">
            <div>
                <h2 class="madeBy text-center text-light">Hecho por Aaron Mujica</h2>
            </div>
            <div>
                <h2 class="madeBy text-center text-light">Diciembre 2022</h2>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./scripts/get-loan.js"></script>
</body>

</html>
